<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회사정보 조회</title>
    <!-- link -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />
    <link rel="stylesheet" href="/css/offer/jobopening/read.css">
</head>
<body>
<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <section>
            <div class="add">
                <h1>회사정보 조회</h1>
                <p><strong>회사 이름 :</strong> <span th:text="${companyName}"></span></p>
                <p><strong>회사 주소 :</strong> <span th:text="${companyaddr1}"></span></p>
                <p><strong>상세 주소 :</strong> <span th:text="${companyaddr2}"></span></p>
                <p><strong>사업자 번호 :</strong> <span th:text="${companyNumber}"></span></p>
                <p><strong>우편번호 :</strong> <span th:text="${zipcode}"></span></p>
                <p><strong>회사 이메일 :</strong> <span th:text="${companyEmail}"></span></p>
                <p><strong>회사 전화번호 :</strong> <span th:text="${companyPhone}"></span></p>
                <p><strong>업종 :</strong> <span th:text="${companyIndustry}"></span></p>
                <p><strong>회사 설명 :</strong> <span th:text="${companyexplanation}" class="company-explanation"></span></p>
                <button>수정</button>
            </div>
        </section>
    </main>
    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>
