<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채용공고 등록</title>
    <!-- link -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />
    <link rel="stylesheet" href="/css/offer/jobopening/add.css">
    <script src="/js/offer/jobopening/add.js" defer></script>
</head>
<body>
<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <section>
            <div class="add">
                <h1>채용공고 등록</h1>
                <form action="/offer/jobopening/add" method="post" class="for" enctype="multipart/form-data">
                    <label for="title">제목:</label>
                    <input type="text" id="title" name="title" required><br>

                    <label for="career">경력:</label>
                    <input type="text" id="career" name="career" required><br>

                    <label for="ability">학력:</label>
                    <input type="text" id="ability" name="ability" required><br>

                    <label for="jobwork">근무형태:</label>
                    <input type="text" id="jobwork" name="jobwork" required><br>

                    <label for="salary">급여:</label>
                    <input type="text" id="salary" name="salary" required><br>

                    <label for="jobspecial">우대사항:</label>
                    <input type="text" id="jobspecial" name="jobspecial" required><br>

                    <label for="jobzone">근무지역:</label>
                    <input type="text" id="jobzone" name="jobzone" required><br>

                    <label for="welfare">복리후생:</label>
                    <input type="text" id="welfare" name="welfare" required><br>

                    <label for="jobplace">근무지위치:</label>
                    <input type="text" id="jobplace" name="jobplace" required><br>

                    <label for="startTime">접수 시작 시간:</label>
                    <input type="datetime-local" id="startTime" name="startTime" required><br>

                    <label for="endTime">접수 종료 시간:</label>
                    <input type="datetime-local" id="endTime" name="endTime" required><br>

                    <label for="jobway">접수방법:</label>
                    <input type="text" id="jobway" name="jobway" required><br>

                    <label for="jobpapers">제출서류:</label>
                    <input type="text" id="jobpapers" name="jobpapers" required><br>

                    <label for="files">이미지:</label>
                    <input type="file" id="files" name="files" multiple required><br>

                    <button type="submit">등록</button>
                </form>
            </div>
        </section>
    </main>
    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>
