<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채용공고 삭제</title>
    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />
    <link rel="stylesheet" href="/css/offer/jobopening/delete.css">
</head>
<body>

<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <section>
            <div class="add">
                <h1>채용공고 삭제</h1>
                <form action="/offer/jobopening/delete" method="post" class="for">
                    <label for="id">Id :</label>
                    <input type="text" id="id" name="id" required>
                    <button type="submit" class="submit-button">삭제</button>
                </form>
            </div>
        </section>
    </main>
    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>
