<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채용공고 등록</title>

    <!-- link -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" href="/css/offer/jobopening/add.css">

    <script src="/js/offer/jobopening/add.js" defer></script>
</head>
<body>

<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <section>

            <div class="add">
                <h1><span class="material-symbols-outlined" style="font-size : 2rem;">bookmark_added</span> 채용공고 수정</h1>
                <form action="/offer/jobopening/add" method="post" class="for" enctype="multipart/form-data">

                    <table class="table w-100" style="font-size:.8rem;">
                        <tbody>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">제목</td>
                            <td colspan="3"><input type="text" id="title" name="title" class="form-control" th:value="${recruit.title}" required></td>
                        </tr>
                        <tr class="career-tr">
                            <td class="text-light" style="background-color:#00a8ff">경력</td>
                            <td  colspan="2" id="career-field">
                                <input class="form-control w-100" name="career" required type="text">
                            </td>
                            <td style="text-align:right;"><a class="btn btn-secondary " href="javascript:addCareerField()">+</a></td>
                        </tr>

                        <tr>
                            <td class="text-light" style="background-color:#00a8ff"> 학력</td>
                            <td colspan="3">
                                <input class="form-control w-100" name="ability" th:value="${recruit.ability}" required type="text">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">부서</td>
                            <td colspan="3"> <input type="text" id="department" name="department"th:value="${recruit.department}" class="form-control"  required></td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">근무형태</td>
                            <td colspan="3"> <input type="text" id="jobwork" name="jobwork" class="form-control"th:value="${recruit.jobwork}" required></td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">근무지역</td>
                            <td colspan="2">
                                <input type="text" id="jobzone" name="jobzone" th:value="${recruit.jobzone}" class="form-control w-100" placeholder="기본주소" required>
                                <br>
                                <input type="text" id="detailAddress" name="detailAddress"  th:value="${recruit.detailAddress}" placeholder="상세주소" class="form-control">
                            </td>
                            <td style="text-align:right;width:45px;">
                                <a href="javascript:void(0)" class="btn btn-secondary search_addr_btn" style="font-size:.8rem;">
                                    <span class="material-symbols-outlined" style="font-size:.8rem;">search</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">급여</td>
                            <td colspan="3" style="text-align:left;" th:text="${recruit.salary}" ></td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">우대사항</td>
                            <td colspan="3"> <input type="text" id="jobspecial" th:value="${recruit.jobspecial}"class="form-control w-100" name="jobspecial" required></td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">복리후생</td>
                            <td colspan="3">   <input type="text" id="welfare" name="welfare"  th:value="${recruit.welfare}"class="form-control w-100"  placeholder=",를 구분자로 입력해주세요" required></td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">접수기간</td>
                            <td style="text-align:left">
                                <label style="font-size : .7rem;margin-bottom :2px;">시작일 : </label>
                                <input style="font-size : .8rem;" type="datetime-local" id="time" name="startTime"  th:value="${recruit.startTime}" class="form-control w-100"  required>
                            </td>
                            <td style="text-align:left;margin-bottom :2px;" colspan="2">
                                <label style="font-size : .7rem;margin-bottom :2px;">종료일 : </label>
                                <input style="font-size : .8rem;" type="datetime-local" id="time2" name="endTime"th:value="${recruit.endTime}"  class="form-control w-100"  required>
                            </td>

                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">접수방법</td>
                            <td colspan="3"> <input type="text" id="jobway" name="jobway" th:value="${recruit.jobway}" class="form-control w-100" required></td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">제출서류</td>
                            <td colspan="3"><input type="text" id="jobpapers" name="jobpapers" th:value="${recruit.jobpapers}"   class="form-control w-100" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-light" style="background-color:#00a8ff">첨부 이미지</td>
                            <td colspan="3" style="text-align:left;">
                                <input type="file" id="files" name="file" class="form-control" required multiple>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button type="submit" class="submit-button">등록</button>

                </form>
            </div>
        </section>
    </main>

    <!-- Postcode Layer -->
    <div id="layer">
        <div class="bg" onclick="closeDaumPostcode()"></div>
        <div class="address-container" id="layerContainer"></div>
    </div>

    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>


    const search_addr_btn = document.querySelector('.search_addr_btn');
    search_addr_btn.addEventListener('click',function(){
       new daum.Postcode({
                oncomplete: function(data) {
                    console.log(data);
                    const addr1 = document.querySelector('#jobzone');
                    if(data.userSelectedType==='R')
                    {
                        addr1.value = data.roadAddress;
                    }
                    else
                    {
                        addr1.value = data.jibunAddress;
                    }
                }
            }).open();
    });
</script>



</html>