<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채용공고 수정</title>
    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />
    <link rel="stylesheet" href="/css/offer/jobopening/update.css">
</head>
<body>

<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <section>
            <div class="add">
                <h1>채용공고 수정</h1>
                <form action="/offer/jobopening/update" method="post" class="for" enctype="multipart/form-data">
                    <label for="id">Id :</label>
                    <input type="text" id="id" name="id" required>

                    <label for="title">제목 :</label>
                    <input type="text" id="title" name="title" required>

                    <label for="career">경력 :</label>
                    <input type="text" id="career" name="career" required>

                    <label for="ability">학력 :</label>
                    <select id="ability" name="ability" required>
                        <option value="">학력을 선택하세요</option>
                        <option value="middle_graduate">중학교 졸업</option>
                        <option value="high_graduate">고등학교 졸업</option>
                        <option value="college_graduate">전문대학 졸업</option>
                        <option value="university_graduate">대학 졸업</option>
                        <option value="university_dropout">대학 중퇴</option>
                        <option value="high_dropout">고등학교 중퇴</option>
                    </select>

                    <label for="jobwork">근무형태 :</label>
                    <input type="tel" id="jobwork" name="jobwork" required>

                    <label for="money">급여 :</label>
                    <input type="text" id="money" name="money" required>

                    <label for="jobzone">근무지역 :</label>
                    <input type="text" id="jobzone" name="jobzone" required>

                    <label for="welfare">복리후생 :</label>
                    <input type="text" id="welfare" name="welfare" required>

                    <label for="jobplace">근무지위치 :</label>
                    <input type="text" id="jobplace" name="jobplace" required>

                    <label for="time">접수기간 :</label>
                    <input type="datetime-local" id="time" name="time" required>

                    <label for="jobway">접수방법 :</label>
                    <input type="text" id="jobway" name="jobway" required>

                    <label for="files">이미지 :</label>
                    <input type="file" id="files" name="files" required multiple>

                    <button type="submit" class="submit-button">등록</button>
                </form>
            </div>
        </section>
    </main>
    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>
