<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <!-- index.css   -->
    <link rel="stylesheet" href="/css/index.css">

    <!--  index.js  -->
    <script src="/js/index.js" defer></script>


</head>
<body>


<div class="wrapper">
    <header>
        <!-- header   -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav       -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />

    </header>
    <main class="">
        <section class="main-block layout-150">

            <div class="left">
                <a href="https://www.saramin.co.kr/zf_user/event/community-challenge-promo?inner_source=saramin&inner_medium=banner&inner_campaign=pc_main&inner_term=community-challenge-promo">
                    <img src="/images/left_img.png" alt="Left Image"/>
                </a>
            </div>

            <div class="banner-section" >
                <div class="notification">
                    <a href="/Notification/list">공지사항</a>
                </div>
                <!-- Slider main container -->
                <div class="swiper centers">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">

                        <!-- Slides -->

                        <div class="swiper-slide">  <a href="javascript:void(0)"><img src="/images/slide/slide1.png" alt="slide1"> </a>   </div>
                        <div class="swiper-slide">  <a href="javascript:void(0)"><img src="/images/slide/slide2.png" alt="slide2"> </a>   </div>
                        <div class="swiper-slide">  <a href="javascript:void(0)"><img src="/images/slide/slide3.png" alt="slide3"> </a>   </div>
                        <div class="swiper-slide">  <a href="javascript:void(0)"><img src="/images/slide/slide4.png" alt="slide4"> </a>   </div>
                        <div class="swiper-slide">  <a href="javascript:void(0)"><img src="/images/slide/slide5.png" alt="slide5"> </a>   </div>
                        <div class="swiper-slide">  <a href="javascript:void(0)"><img src="/images/slide/slide6.png" alt="slide6"> </a>   </div>

                    </div>
                    <!-- If we need pagination -->
                    <!--
                    <div class="swiper-pagination"> </div>
                     -->
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev">
                        <span class="material-symbols-outlined">arrow_left</span>
                    </div>
                    <div class="swiper-button-next">
                        <span class="material-symbols-outlined">arrow_right</span>
                    </div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="right">
                <a href="https://www.saramin.co.kr/zf_user/company-review-qst-and-ans/detail-page?qust_idx=75239">
                    <img src="/images/right_img.png" alt="right Image"/>
                </a>
            </div>
        </section>


        <section class="company_items">
            <div class="items">

                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
                <div class="item">모집공고</div>
            </div>
        </section>

        <!-- 다중슬라이더 구현 -->
        <section class="multi-slider">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="" alt="">
                        </a>
                    </div>

                </div>

            </div>

        </section>


        <section></section>
    </main>

    <!-- footer       -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>