<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />

    <!-- join.css -->
    <link rel="stylesheet" href="/css/user/join.css" />

    <!--list.css-->
    <link rel="stylesheet" href="/css/Notification/list.css"/>
    <!-- user/join.js -->
    <script src="/js/user/join.js" defer></script>
</head>
<body>

<div class="wrapper">
    <header>
        <!-- header   -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav       -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />

    </header>
    <main>
    <h2>공지사항!</h2>
        <div class="wrap_body">

        <div class="wrap_board">
            <ul class="tabList">
                <li>
                    <button type="button" class="inTab" >
                        <span>전체</span>
                    </button>
                </li>
                <li>
                    <button type="button" class="inTab">
                        <span>개인회원</span>
                    </button>
                </li>
                <li>
                    <button type="button" class="inTab">
                        <span>기업회원</span>
                    </button>
                </li>
            </ul>
            <div class="serch_area"></div>

            </div>
        </div>
    </main>

    <!-- footer       -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>