<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Password</title>

    <!-- link -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />

    <!-- find_password.css -->
    <link rel="stylesheet" href="/css/user/find_password.css">

    <!-- find_password.js -->
    <script src="/js/user/find_password.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('form').addEventListener('submit', function(event) {
                event.preventDefault();
                const email = document.querySelector('input[name="email"]').value;
                fetch('/user/confirmPw', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: email })
                })
                .then(response => response.json())
                .then(data => {
                    alert(data);
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <section class="breadcrum-block layout-150">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">홈</a></li>
                    <li class="breadcrumb-item active" aria-current="page">패스워드 찾기</li>
                </ol>
            </nav>
        </section>
        <section>
            <div class="main-block">
                <form>
                    <div class="m-2">
                        <h2>패스워드 찾기</h2>
                    </div>
                    <div class="m-2">
                        <label for="email">이메일 : </label>
                        <input type="email" name="email" class="form-control" required/>
                    </div>
                    <div class="m-2">
                        <button class="btn btn-success w-100" type="submit">패스워드 찾기</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>
