<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>임시 비밀번호 요청</title>

    <!-- link -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />

    <!-- confirmId.css -->
<!--    <link rel="stylesheet" href="/css/user/confirmId.css">-->

    <!-- confirmPw.js -->
    <script src="/js/user/confirmPw.js" defer></script>
</head>
<body>
<div class="wrapper">
    <!-- header -->
    <header>
    <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />

    <!-- nav -->
    <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>

    <main class="container-xxl">
        <section>
            <div class="confirm_block">
                <div class="header">
                    <h3>임시 PW 요청</h3>
                </div>
                <div class="body">
                    <form class="checkPwform" name="checkPwform" method="post">
                        <div class="mb-2">
                            <label>아이디</label>&nbsp;&nbsp;<span th:text="${username}" style="font-size:0.7rem;color:orange;"></span>
                            <input type="text" name="username" class="form-control" placeholder="계정을 입력하세요" required>
                        </div>
                        <div class="mb-2">
                            <label>이메일</label>&nbsp;&nbsp;<span th:text="${email}" style="font-size:0.7rem;color:orange;"></span>
                            <input type="email" name="email" class="form-control" placeholder="이메일을 입력하세요" required>
                        </div>
                        <div class="mb-2">
                            <a href="javascript:void(0)" class="btn btn-success w-100 confirmPw_btn">PW 발송요청</a>
                        </div>
                        <div class="mb-2">
                            <a href="/login" class="btn btn-secondary w-100">이전으로</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <th:block th:insert="~{fragments/footer :: footerFragment}" />
    </footer>
</div>
</body>
</html>
